<!DOCTYPE html>
{% load static %}
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'home.css' %}>
    <title>Home-Pneumonia Detection</title>
</head>

<body>
  <div class="container mt-4">
    <nav class="navbar navbar-light justify-content-between" style="background-color:#2F739A">
            
      <a class="navbar-brand ps-2 font-title" style="color: white">Pneumonia Detection Bot</a>
    </nav>
    <div class="row mt-2 align-items-center">
      <div class="col-md-6 pneumo" >
          <p class="text-justify ">
              Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.<br>
              Pneumonia can range in seriousness from mild to life-threatening. It is most serious for infants and young children, people older than age 65, and people with health problems or weakened immune systems
          </p>
      </div>
      <div class="col-md-6">
          <img class="img-fluid" src="{% static 'sym.jpg' %}" alt="yo">
      </div>

    </div>
    <div class="up-down mt-4" style="text-align: center; animation: 3s linear 1s infinite alternate slidein;">      
      <h3 style="color:rgb(180, 74, 12)"><i class="fa-solid fa-angle-down"></i>   Scroll down to test your x-ray</h3>
    </div>
    <div class="row my-5">
      <div class="col-md-6">
          <img src="{% static 'upload.jpg' %}" class="img-fluid" alt="Drop Files image">
      </div>
      <div class="col-md-6 mt-2" style="text-align: center; " >
        
        <form method = "post" enctype="multipart/form-data" class="" style="margin-top: 20%"action="">
          <h3 class="p-2">You can upload your chest x-ray image down here to get the result</h3>
          {% csrf_token %}
          {{ form.as_div }}
          <button type="submit" class="mt-2 btn btn-primary">Upload</button>
        </form>          
      </div>

  </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"></script>
</body>

</html>